# CLASS:

### A Python class is like an outline for creating a new object.

# OBJECT:

### An object is anything that you wish to manipulate or change while working through the code.

##### EXAMPLE

In [12]:
class Snake:
     pass
 
snake = Snake()
print(snake)

<__main__.Snake object at 0x00000181271D4910>

## Attributes:

##### A class by itself is of no use unless there is some functionality associated with it. 
##### Functionalities are defined by setting attributes, which act as containers for data and functions related to those attributes. Those functions are called methods.

In [37]:
class Snake:
     name = "python" # set an attribute `name` of the class

In [4]:
# instantiate the class Snake and assign it to variable snake
snake = Snake()

# access the class attribute name inside the class Snake.
print(snake.name)

python

### Methods

##### Once there are attributes that “belong” to the class, you can define functions that will access the class attribute. These functions are called methods. 
##### When you define methods, you will need to always provide the first argument to the method with a self keyword.

In [15]:
class Snake:
     name = "python"
     def change_name(self, new_name): # note that the first argument is self
            self.name = new_name # access the class attribute with the self keyword
        
# instantiate the class
snake = Snake()

# print the current object name 
print(snake.name)


# change the name using the change_name method
snake.change_name("anaconda")
print(snake.name)

python
anaconda

In [25]:
class Snake:

    def __init__(self, name, version):
        self.name = name
        self.version = version
        
python = Snake("python", 3)
anaconda = Snake("anaconda", 1.1)

print(python.version)
print(anaconda.name)

3
anaconda

In [42]:
with open("Text.txt",'r') as f1:
#f1.readlines()
    for line in f1:
         print(line, end = '')

This is Line1.
This is Line2.
This is Line3.

In [9]:
f2=open("out.txt","w")
f2.write("Hi")
f2.close()

In [26]:
class Student:
    
        marks1=50
        marks2=60
    
std1=Student()
std2=Student()
print(std1.marks1)

50

In [25]:
class Student:
    def __init__(self,m1,m2):
        self.marks1=m1
        self.marks2=m2
    
std1=Student(20,30)
std2=Student(40,50)
print(std1.marks1)

20

In [31]:
class Student:
    marks1=89
    marks2=90
    def std_marks(self,m1,m2):
        self.marks1=m1
        self.marks2=m2
    
std1=Student()
print(std1.marks1)
std1.std_marks(4,5)
print(std1.marks1)

89
4

In [36]:
class Person:  
      
    # init method or constructor   
    def __init__(self, name):  
        self.name = name  
      
    # Sample Method   
    def say_hi(self):  
        print('Hello, my name is', self.name)  
      
p = Person('Kowcika')
p.say_hi()

Hello, my name is Kowcika

In [43]:
class Student:
    pass
    
std1=Student()
#std2=Student()
print(std1)

<__main__.Student object at 0x00000181273A7CA0>

In [45]:
class Student:
    pass
    
std1=Student()
std1.marks1=45
std1.marks2=78
std2=Student()
std2.marks1=65
std2.marks2=88
print(std1.marks1)
print(std2.marks1)

45
65

In [47]:
class Student:
    def __init__(self,marks1,marks2):
        self.marks1=marks1
        self.marks2=marks2
        
    
std1=Student(45,78)
std2=Student(98,67)
print(std1.marks1)
print(std2.marks1)

45
98